/* CSS VARIABLES */
html, body{
    margin: 0;
}
:root{

    --coral: #CE7871;
    --dk-gray: #222;
    --fonts: 'Trebuchet MS', Verdana, sans-serif;

}
body{
    background: var(--dk-gray);
}
h1{
    margin: 1;
    color: var(--coral);
    font-family: var(--fonts);
}