/* CSS VARIABLES */
html, body{
    margin: 0;
}
:root{

    --coral: #CE7871;
    --dk-gray: #222;

}

body{
    background: var(--dk-gray);
}
h1{
    align-content: center;
    color: var(--coral);

}
