/* CSS VARIABLES */
:root{
    --red: #613A43;
    --tan: #837C6F;
    --mint: #AFC0B4;
    --white: #F6F3EA;
    --coral: #CE7871;
    --dk-gray: #222;

    --fonts: 'Trebuchet MS', Verdana, sans-serif;
    --code-fonts: 'Lucida Console', monospace;
}
body{
    background: var(--coral) url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewBox='0 0 48 48'%3E%3Cg fill='%23613a43' fill-opacity='0.2'%3E%3Cpath d='M12 0h18v6h6v6h6v18h-6v6h-6v6H12v-6H6v-6H0V12h6V6h6V0zm12 6h-6v6h-6v6H6v6h6v6h6v6h6v-6h6v-6h6v-6h-6v-6h-6V6zm-6 12h6v6h-6v-6zm24 24h6v6h-6v-6z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
    font-family: var(--fonts);
    color: var(--coral);
    margin: 0;
    line-height: 1.35;
}